* {
  margin: 10px;
  padding: 0;
}
body {
  background: rgba(115, 212, 241, 0.555);
  font-family: "Arial";
  font-size: 22px;
}
p {
  text-align: center;
  margin-top: 50px;
}
.buttonContainer {
  text-align: center;
}
.titleContainer {
  text-align: center;
}
#container {
  position: relative;
  top: 30px;
  outline: 5px solid #000;
  font-size: 0;
  margin: auto;
  height: 960px;
  width: 960px;
  padding: 0;
  border: none;
}

.grid {
  margin: 0;
  padding: 0;
  border: none;
  outline: 1px solid #000;
  display: inline-block;
}
